/*!
 * This file is part of Solana Reference Stake Pool code.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.modal-dialog {
  transition: transform 0.1s ease-out !important;
  .modal-content {
    border-radius: 32px;
    background-color: #fff;
    box-shadow: 0px 4px 24px 0px rgba(17, 17, 17, 0.08);
    padding: 40px;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 0;
    border-color: $neutral-100;
  }

  .modal-header {
    padding-bottom: 24px;
    h5 {
      margin: 0;
      color: $dark;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }

    .btn-close {
      width: 24px;
      height: 24px;
      mask-size: 22px;
    }
  }

  .modal-body {
    padding: 24px 0 0;
  }
}
