/*!
 * This file is part of Solana Reference Stake Pool code.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

@import '~quasar/src/css/variables';

$primary: #1ce4b0;
$secondary: #FFD140;
$accent: #609ecc;
$gray: #455A64;
$almostWhite: #eff5f6;

$graySuperLight: #F3F4F5;
$dark: #1d1d1d;
$lightGray: #9EB3BD;
$lightGrayNatural: #E9E9E9;
$naturalGray: #e7e7e7;

$positive: #1ce4b0;
$negative: #f56c6c;
$info: #609ecc;
$warning: #ffdf75;

$generic-border-radius: 12px;

// Light mode
$body-bg: #f4f4f4;

// Dark mode
$dark-page: #121212;
$dark-primary: #1e2423;

// Assumes the browser default, typically `16px`
$body-font-size: 1rem;

$button-padding: 9px 17px;

$fontprimary: 'Montserrat';
