{
  "extends": [
    "@antfu/eslint-config-vue"
  ],
  "rules": {
    "curly": ["error", "all"],
    "antfu/if-newline": "off",
    "@typescript-eslint/brace-style": ["error", "1tbs"],
    "no-console": "off",
    "vue/component-name-in-template-casing": ["error", "kebab-case", {
      "registeredComponentsOnly": false,
      "ignores": []
    }]
  }
}
