# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.nuxt
.output
*.local

# Editor directories and files
.idea/
!.idea/jsLinters

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vite-ssg-dist
.vite-ssg-temp

cypress/downloads
