/*!
 * This file is part of Solana Reference Stake Pool code.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

// Stake Card

.stake-box {
  min-height: 335px;

  .q-tab-panel {
    display: flex;
    flex-direction: column;
    padding: 16px;

    &>:last-child {
      margin-top: auto;
      padding-top: 0;
    }
  }

  .q-tab--inactive {
    opacity: 1;
  }

  &__btn {
    width: 100%;
    margin-top: auto;

    @media(max-width: $breakpoint-sm) {
      margin-top: 10px;
    }

    .q-btn__content {
      flex-direction: column;
      font-size: 25px;
      line-height: 25px;
      margin-top: 2px;
    }
  }

  .app-header__wallet-btn {
    margin-top: auto;
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
  }

  .q-tabs {
    padding: 0;
    overflow: hidden;
    height: 50px;
    background-color: transparent;

    .q-tab {
      text-align: left;
      padding: 0 24px;
      line-height: 55px;
      height: 100%;
      border: 0;
      background-color: $primary;
      color: $gray;
      justify-content: flex-start;
      width: 50%;

      &:first-child {
        border-radius: 10px 0 0 0;
      }

      &:last-child {
        border-radius: 0 10px 0 0;
      }


      &.q-tab--active {
        color: #ffffff;
      }

      .q-focus-helper {
        display: none;
      }
    }

    .q-tab__label {
      font-size: 20px;
      margin-top: 2px;
      z-index: 2;
    }

    &__btn {
      padding: 9px 20px;
    }
  }

  .q-card__section {
    padding: 10px;

    &.with-arrow {
      position: relative;
      padding-top: 0;

      &::before {
        //noinspection CssUnknownTarget
        background: $gray url(../img/arr-down.svg) no-repeat center center;
        position: absolute;
        bottom: -27px;
        left: 50%;
        margin-left: -27px;
        content: '';
        width: 54px;
        height: 54px;
        border-radius: 100%;
        z-index: 2;
      }
    }

    &.stake-to-input {
      padding-bottom: 0;
    }

    &.top-section {
      padding-bottom: 2px;
    }
  }

  &__stake-info {
    color: $gray;
    margin-top: 4px;
    font-size: 12px;
  }

  &__warning {
    color: $negative;
    text-transform: none;
    margin-left: 8px;
    font-size: 11px;

    @media (max-width: $breakpoint-xs) {
      margin-left: 0px;
    }
  }

  .q-field--outlined {

    .q-field__control,
    .q-field__marginal {
      height: 70px;
    }

    .q-field__control {
      background-color: $lightGrayNatural;
      padding: 0 18px;

      &::before {
        border: 0 !important;
      }
    }

    .q-field__append {
      .q-btn {
        margin-right: 16px;
      }
    }

    .stake-field__icon {
      margin-right: 12px;
      max-width: 40px;
      max-height: 40px;
      min-width: 40px;
      min-height: 40px;
    }

    .stake-field__symbol {
      width: 40px;
      text-align: center;
      display: inline-block;
      color: #000;
      font-size: 1rem;
    }

    input {
      font-size: 36px;
      height: 70px;

      @media(max-width: $breakpoint-xs) {
        font-size: 28px;
      }
    }
  }

  &__input {
    .q-field__control {
      background-color: $lightGrayNatural;
      padding: 0 18px;

      &::before {
        border: 1px solid $lightGrayNatural !important;
      }
    }

    &--highlight-fix:not(.q-field--focused) {
      .q-field__control {
        border: 2px solid #1ce4b0;
        border-radius: 12px;
        padding: 0 16px;
        transition-delay: 250ms;
        transition-property: border, padding;
      }

      .q-field__label {
        color: $primary;
      }

      .q-field__native {
        padding-top: 20px;
        transition-delay: 250ms;
        transition-property: padding;
      }

      .q-field__label {
        margin-top: -2px;
        transition-delay: 250ms;
        transition-property: margin;
      }

      .q-field__append {
        padding-bottom: 4px;
        transition-delay: 250ms;
        transition-property: padding;
      }
    }
  }

  &__input-to {
    margin-top: -8px;
    margin-bottom: 8px;
  }
}

.stake-box__title {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
}

.stake-box__rate {
  font-size: 13px;
  margin-right: 10px;
  text-align: right;
  color: $gray;

  span[class^='bg-'] {
    color: #fff;
  }
}

.stake-box__coin {
  font-size: 18px;

  img {
    margin-right: 12px;
    max-width: 40px;
  }

  span {
    width: 50px;
    text-align: center;
    display: inline-block;
  }
}

// Dark mode

body.body--dark {
  .stake-box {
    background-color: $dark-page;

    .q-tab--active {
      color: #fff !important;
    }

    .q-field--outlined {
      .q-field__control {
        background-color: $dark-primary;
        color: #fff;
      }

      .q-field__append {
        span {
          color: #fff;
        }
      }
    }
  }

  .stake-box__title {
    color: #fff;
  }
}
