/*!
 * This file is part of Solana Reference Stake Pool code.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.wallet {
  .btn {
    font-weight: 400;
    white-space: nowrap;

    svg {
      margin-top: -2px;
      height: 24px;
      margin-right: 12px;
    }
  }
}

.wallet-adapters {
  .btn {
    text-align: left;
    line-height: 40px;

    img {
      width: 40px;
      height: 40px;
      float: right;
    }
  }
}

// Wallet Balance

.wallet-balance {
  position: relative;

  @media (max-width: $breakpoint-sm) {
    margin-bottom: 40px;
  }

  @media (max-width: $breakpoint-xs) {
    margin-bottom: 60px;
  }

  @media (min-width: $breakpoint-sm) {
    min-height: 335px;
  }

  .q-list--separator>.q-item-type+.q-item-type {
    border-top: 0;
  }

  .q-item:not(:first-child) {
    margin-top: 2px;
  }

  &__head {
    padding: 8px 24px;
    background-color: $gray;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    padding-top: 11px;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }

  &__body {
    padding-top: 7px;

    .q-item__label {
      display: flex;
      align-items: center;
      width: 80px;
      color: $dark;
      font-size: 18px;

      svg,
      img {
        height: 36px;
        min-height: 36px;
        width: 36px;
        min-width: 36px;
        margin-right: 10px;
      }

      span {
        text-align: right;
      }
    }
  }

  &__title {
    position: relative;
    text-align: right;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      background-color: #5C5C5C;
      top: 50%;
      left: 0;
      width: 100%;
    }

    .q-badge {
      position: relative;
      z-index: 2;
      background-color: #5C5C5C;
      padding-left: 10px;
      padding-right: 10px;
      text-transform: uppercase;
      font-size: 10px;
    }
  }

  &__staking {
    &__title {
      margin: 9px -16px 7px;
      padding: 6px 20px;
      background: $primary;
      color: $gray;
      text-align: right;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .balance__item {
    height: 42px;
  }

  .balance__value {
    text-align: right;
    font-size: 17px;
    line-height: 18px;
    color: #5C5C5C;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

    &__usd {
      color: $lightGray;
      font-size: 12px;
      line-height: 14px;
    }
  }

  .table {
    border: 0;
    margin: 0;
    font-size: 20px;

    td {
      border-color: #d0d0d0;
    }

    tr {
      &:first-child {
        td {
          border: 0;
        }
      }
    }

    .col-amount {
      color: #5c5c5c;
    }

    .col-name {
      color: #000;
      width: 1%;
    }

    .col-icon {
      width: 1%;

      img {
        width: 30px;
      }
    }
  }

  @media (max-width: $breakpoint-lg-max) {
    .card-header {
      text-align: right;
    }

    .table {
      .col-amount {
        text-align: right;
      }
    }
  }

  .q-list--dense>.q-item,
  .q-item--dense {
    padding: 2px;
  }
}
