.apy[data-v-64726ed8]{position:absolute;color:#455a64;background-color:#1ce4b0;display:flex;flex-direction:column;align-items:center;left:calc(50% - 108px);border-radius:50%!important;width:96px;height:96px;top:-23px;justify-content:center;z-index:1;line-height:14px;cursor:pointer;transition:color .3s,background-color .3s}.apy--selected[data-v-64726ed8]{background-color:#455a64;color:#fff}@media (max-width: 599px){.apy[data-v-64726ed8]{border-radius:50% 50% 0 0!important;height:60px;top:-35px}}.apy__value[data-v-64726ed8]{font-size:22px;line-height:22px;font-weight:500}@media (max-width: 599px){.apy__value[data-v-64726ed8]{font-size:20px;line-height:20px}}.apy .q-inner-loading[data-v-64726ed8]{background:none}/*!
* This file is part of Solana Reference Stake Pool code.
*
* Copyright © 2021, mFactory GmbH
*
* Solana Reference Stake Pool is free software: you can redistribute it
* and/or modify it under the terms of the GNU Affero General Public License
* as published by the Free Software Foundation, either version 3
* of the License, or (at your option) any later version.
*
* Solana Reference Stake Pool is distributed in the hope that it
* will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
* along with this program.
* If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
*
* You can be released from the requirements of the Affero GNU General Public License
* by purchasing a commercial license. The purchase of such a license is
* mandatory as soon as you develop commercial activities using the
* Solana Reference Stake Pool code without disclosing the source code of
* your own applications.
*
* The developer of this program can be contacted at <info@mfactory.ch>.
*//*!
 * This file is part of Solana Reference Stake Pool code.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */.q-item .q-btn-group[data-v-cda9ef8e]{margin-left:1.5rem}.q-item .q-btn[data-v-cda9ef8e]{font-size:.7rem}@media (max-width: 599.98px){.q-item[data-v-cda9ef8e]{text-align:center}.q-item .q-btn-group[data-v-cda9ef8e]{margin:.5rem 0 0}}@media (min-width: 599px){.q-item .q-btn-group[data-v-cda9ef8e]{float:right}}
